@tailwind base;
@tailwind components;
@tailwind utilities;

button.slick-arrow::before{
font-size: 50px !important;
color: yellow !important;
}

.slick-next{
 right: 35px !important;
 top: 45% !important;
}

.slick-prev{
    left: 10px !important;
    z-index: 10 !important;
    top: 45% !important;
}

.star-item{
    display: inline-block;
    margin-bottom: 6px;
}

.star-item:last-child{
    margin-right: 6px;
}